#main_bg_lvl1 {
    /*background-image: url("../img/search/level1-clear.png");*/
    width: 1200px;
    height: 600px;
    background-size: contain;

    background-repeat: no-repeat;
    position: relative;

}

.img_click {
    background-size: cover;
    position: absolute;
    display: inline-block;
    visibility: hidden;
}

.img_lvl_1_1 {
    background-image: url("../img/cargo1/cardreader x=315  y=58.png");
    width: 37px;
    height: 80px;
    left: 315px;
    top: 58px;

}

.img_lvl_1_2 {
    background-image: url("../img/cargo1/compass x=586 y=130.png");
    width: 52px;
    height: 51px;
    left: 586px;
    top: 130px;
}

.img_lvl_1_3 {
    background-image: url("../img/cargo1/engine x=842 y=374.png");
    width: 76px;
    height: 60px;
    left: 842px;
    top: 374px;
}

.img_lvl_1_4 {
    background-image: url("../img/cargo1/magnet x=383 y=137.png");
    width: 55px;
    height: 49px;
    left: 383px;
    top: 137px;
}

.img_lvl_1_5 {
    background-image: url("../img/cargo1/magnetman x=466 y=365.png");
    width: 71px;
    height: 59px;
    left: 466px;
    top: 365px;
}

.img_lvl_1_6 {
    background-image: url("../img/cargo1/magnetto x=466 y=220.png");
    width: 58px;
    height: 70px;
    left: 466px;
    top: 220px;
}

.img_lvl_1_7 {
    background-image: url("../img/cargo1/neocube x=630 y=280.png");
    width: 36px;
    height: 41px;
    left: 630px;
    top: 280px;
}

.img_lvl_1_8 {
    background-image: url("../img/cargo1/pokemon x=730 y=58.png");
    width: 72px;
    height: 42px;
    left: 730px;
    top: 58px;
}

.img_lvl_1_9 {
    background-image: url("../img/cargo1/sound x=180 y=130.png");
    width: 88px;
    height: 53px;
    left: 180px;
    top: 130px;

}

.img_lvl_1_10 {
    background-image: url("../img/cargo1/ua x=740 y=360.png");
    width: 65px;
    height: 44px;
    left: 740px;
    top: 360px;
}

.img_position {
    /*margin: 0 10%;*/
    position: absolute;
    top: 0;

}

#glass {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("../img/search/zoom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    float: left;

    margin: 25px;
}

body {
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

#control_panel {
    position: relative;

    width: 1200px;
    height: 100px;
    min-width: 1200px;
    min-height: 100px;
    max-width: 1200px;
    max-height: 100px;

    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);

    overflow: hidden;

    background: rgba(255, 255, 255, 0);
    background-color: red;
    margin: 0 auto;
    margin-top: 10px;
}

#subjekt {
    display: inline-block;
    float: left;
    width: 500px;
    background-color: burlywood;
    height: 90%;
    margin: 5px 0 0 327px;
}

.menu_box {
    width: 100px;
    height: 100px;
    float: left;
}
.find_element1{
    background-image: url("../img/cargo1/menu_images/cardreader-hide.png");
    display: none;
}

.find_element2{
    background-image: url("../img/cargo1/menu_images/compass-hide.png");
    display: none;
}

.find_element3{
    background-image: url("../img/cargo1/menu_images/engine-hide.png");
    display: none;
}

.find_element4{
    background-image: url("../img/cargo1/menu_images/magnet-hide.png");
    display: none;
}

.find_element5{
    background-image: url("../img/cargo1/menu_images/magnetman-hide.png");
    display: none;
}

.find_element6{
    background-image: url("../img/cargo1/menu_images/magnetto-hide.png");
    display: none;
}

.find_element7{
    background-image: url("../img/cargo1/menu_images/neocube-hide.png");
    display: none;
}

.find_element8{
    background-image: url("../img/cargo1/menu_images/pokemon-hide.png");
    display: none;
}

.find_element9{
    background-image: url("../img/cargo1/menu_images/sound-hide.png");
    display: none;
}

.find_element10{
    background-image: url("../img/cargo1/menu_images/ua-hide.png");
    display: none;
}

#bottom-box-5 {
    display: none;
}
.ci{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}